.alert__message--container {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid #75020A;
  box-shadow: 0 0 5px #666;
  border-radius: 5px;
  background-color: rgba(249, 172, 172, 0.8);
}

.alert__message--container > b {
  color: #75020A;
  font-size: 16px;
}

.alert__message--text {
  color: #75020A;
  font-size: 16px;
}
