.sign_out {
    position: absolute;
    left: 50%;
    bottom: 30px;

    > div {
        display: flex;
        font-family: OpenSansBold;
        position: relative;
        left: -50%;

        &:hover {
            > i {
            cursor: pointer;
            color: #35B3BF;
            }
            > span {
            cursor: pointer;
            color: #35B3BF;
            }
        }

        > i {
            position: relative;
            top: 3px;
        }
        > span {
            white-space: nowrap;
            padding-left: 7px;
            color: #666;
        }
    }
}