@font-face {
    font-family: OpenSansBold;
    src: url("../../../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot"); /* IE9 Compat Modes */
    src: url("../../../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../../../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), /* Modern Browsers */
         url("../../../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("../../../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.svg#") format("svg"); /* Legacy iOS */
         font-style: normal;
}




.circle__students--container {
  float: left;
  margin: 20px 12px;
  overflow: hidden;
  text-align: center;
}

.circle__students--image {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid transparent;
}

.circle__students--image:hover {
  cursor: pointer;
  border: 2px solid yellow;
}

.circle__students--image > img {
  position: absolute;
  transform: scale(1.5);
}

.circle__students--container > span {
  padding-top: 5px;
  font-family: OpenSansBold;
  font-size: 14px;
  color: #666;
}

.circle__students--container:nth-of-type(1) img,
.circle__students--container:nth-of-type(8) img,
.circle__students--container:nth-of-type(21) img,
.circle__students--container:nth-of-type(30) img {
  bottom: 15px;
  right: 0px;
}

.circle__students--container:nth-of-type(2) img,
.circle__students--container:nth-of-type(11) img,
.circle__students--container:nth-of-type(19) img,
.circle__students--container:nth-of-type(26) img {
  top: 20px;
  right: 20px;
}

.circle__students--container:nth-of-type(3) img,
.circle__students--container:nth-of-type(14) img,
.circle__students--container:nth-of-type(22) img,
.circle__students--container:nth-of-type(28) img {
  top: 18px;
  right: 20px;
}

.circle__students--container:nth-of-type(4) img,
.circle__students--container:nth-of-type(9) img,
.circle__students--container:nth-of-type(16) img,
.circle__students--container:nth-of-type(18) img,
.circle__students--container:nth-of-type(25) img,
.circle__students--container:nth-of-type(32) img {
  top: 20px;
  right: 18px;
}

.circle__students--container:nth-of-type(5) img,
.circle__students--container:nth-of-type(12) img,
.circle__students--container:nth-of-type(15) img ,
.circle__students--container:nth-of-type(24) img,
.circle__students--container:nth-of-type(31) img {
  top: 14px;
  right: -5px;
}

.circle__students--container:nth-of-type(6) img,
.circle__students--container:nth-of-type(13) img,
.circle__students--container:nth-of-type(17) img,
.circle__students--container:nth-of-type(20) img,
.circle__students--container:nth-of-type(27) img {
  transform: scale(1.5);
  top: 20px;
  right: 5px;
}

.circle__students--container:nth-of-type(7) img,
.circle__students--container:nth-of-type(10) img,
.circle__students--container:nth-of-type(23) img,
.circle__students--container:nth-of-type(29) img {
  transform: scale(1.5);
  top: 20px;
  right: -25px;
}
