@font-face {
    font-family: ProximaNovaExtraBold;
    src: url("../../fonts/ProximaNova/ProximaNova-Extrabld/ProximaNova-Extrabld.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/ProximaNova/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../../fonts/ProximaNova/ProximaNova-Extrabld/ProximaNova-Extrabld.woff") format("woff"), /* Modern Browsers */
         url("../../fonts/ProximaNova/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("../../fonts/ProximaNova/ProximaNova-Extrabld/ProximaNova-Extrabld.svg#") format("svg"); /* Legacy iOS */
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaBold;
    src: url("../../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.woff") format("woff"), /* Modern Browsers */
         url("../../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("../../fonts/ProximaNova/ProximaNova-BoldIt/ProximaNova-BoldIt.svg#") format("svg"); /* Legacy iOS */
         font-style: normal;
}


@font-face {
    font-family: OpenSansBold;
    src: url("../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), /* Modern Browsers */
         url("../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("../../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.svg#") format("svg"); /* Legacy iOS */
         font-style: normal;
}

.dashboard_container {

}

header {
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2B9B8C;
  @media (max-width: 980px) {
    display: none;
  }

  > div:first-child {
    display: flex;

    > div:nth-child(1) {
      display: flex;
      align-items: center;
      margin-right: 30px;
      margin-left: 20px;

      > img {
        display: block;
      }
    }
    > div:nth-child(2) {
      display: flex;
      align-items: center;
  
      &:nth-child(2) > span {
        font-family: ProximaNovaExtraBold;
        font-size: 16px;
        text-shadow: none;
        color: #fff;
      }

      .circle_image_container {
        box-sizing: border-box;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid transparent;

        &:hover {
            border: 2px solid yellow;
            cursor: pointer;
        }

        > img {
          width: 100%;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
        }

        &:nth-of-type(1) > img {
          top: 10px;
          right: 5px;
          transform: scale(1.5);
        }

        &:nth-of-type(2) > img {
          top: 1px;
          right: -4px;
          transform: scale(1.2);
        }
        &:nth-of-type(3) > img {
          top: 4px;
          right: 0px;
          transform: scale(1.2);
        }
        
      }
    }
    > div:nth-child(3) {
      display: flex;
      align-items: center;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
      }

      > img {
        display: block;
      }

      > span {
        padding-left: 8px;
        font-family: ProximaNovaBold;
        font-size: 18px;
        color: #fff;
      }
    }
  }
  > div:last-child {
    margin-right: 20px;

    > img {
      cursor: pointer;
    }
  }
}

.toggled_header {
  display: none;
  @media (max-width: 980px) {
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B9B8C;
  }
  
  .toggle_header_icon {

    > span {
      color: #666;

      > i {
        
        &:hover {
          color: orange;
          cursor: pointer;
        }
  
      }
    }
  }
}

main {
  display: flex;
  margin-top: 80px;
  @media (max-width: 980px) {
    margin-top: 80px;
  }

  aside {
    max-width: 215px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
    background-color: #fff;
    @media (max-width: 980px) {
      
    }

    // #slide-out {
    //     display: flex;
    // }

    .user_logo {
      height: 180px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #ccc;

      > a {

        > div {
          width: 100px;
          height: 100px;
          box-sizing: border-box;
          margin: 20px auto 10px;
          overflow: hidden;
          border-radius: 50%;
  
          &:hover {
            cursor: pointer;
          }
        }
        > span {
          position: relative;
          top: 10px;
          color: #666;
  
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .side_menu {
      display: flex;
      flex-direction: column;
      padding-bottom: 80px;

      > li {
        display: flex;
        align-items: center;
        padding: 15px 30px 20px 40px;
        text-align: center;
        border-bottom: 1px solid #ccc;

        &:hover > a {
          cursor: pointer;
        }
        &:hover > a > span {
          color: #35B3BF;
        }

        > a {
          display: flex;
          align-items: center;

          > span {
            padding-left: 10px;
            font-family: OpenSansBold;
            white-space: nowrap;
            color: #666;
          }
        }
      }
    }
    .sign_out {
      position: absolute;
      left: 50%;
      bottom: 30px;

      > a {
        font-family: OpenSansBold;
        position: relative;
        left: -50%;

        &:hover {
          cursor: pointer;
          color: #35B3BF;
        }
        &:hover > span {
          cursor: pointer;
          color: #35B3BF;
        }

        > img {
          position: relative;
          top: 3px;
        }
        > span {
          padding-left: 7px;
          color: #666;
        }
      }
    }
  }
  section {
    flex-grow: 1;

    .MAIN_CONTAINER {
      width: 100%;
      height: 100%;
      background-color: #eee;
    }
  }
}


