.login_container {
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 80px;
  background: #3a6753;
  background: -moz-linear-gradient(45deg, #3a6753 0%, #45d399 100%);
  background: -webkit-linear-gradient(45deg, #3a6753 0%,#45d399 100%);
  background: linear-gradient(45deg, #3a6753 0%,#45d399 100%);
}

.login_container > img {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}

.form_login {
  margin: 0 auto;
  width: 400px
}

.login_form_field {
  display: block;
  font-family: 'user-email';
}

.login_form_field > span {
  display: inline-block;
  margin-right: 10px;
}

.login_form_field .alert__inline {
  padding-left: 40px;
}

.icon-user, .icon-key {
  display: inline-block;
  position: relative;
  top: 5px;
  font-size: 24px;
}

.input-field-email, 
.input-field-password {
  display: inline-block;
  margin-left: 15px !important;
  width: 80% !important;
}

.input-field-email:focus + .icon-user, 
.input-field-password:active + .icon-key {
  color: red;
  background-color: yellow;
}

.highlight_icon {
  color: #6f9 !important;
}

/* .login_form_div > button {
  width: 100%;
  margin-top: 20px;
} */

.alert__inline {
  display: block;
  margin-top: -10px;
  color: #75020A;
}

.login_options {
  width: 400px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.login_btn {
  margin-top: 20px;
  margin-bottom: 10px;
}

.login_options > a {
  font-size: 16px;
  color: #fff;
}
