@import '/../../../_variables';

.page_not_found_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);

  > div {
    flex-direction: column;
    text-align: center;

    > span {
      display: block;
      padding-bottom: 20px;
      font-size: 32px;
      color: $color-violet;
    }

    > a {
      display: block;
      font-size: 20px;
      color: darken($color-violet, 15%);
    }
  }

}
